*, 
*::before, 
*::after {
    margin: 0; padding: 0;
    box-sizing: border-box;
    transition: all .3s ease;
}

:root {
    // primary colors
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    // neutral colors
    --very-pale-blue: hsl(228, 100%, 98%);
    --desatured-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

html {
    font-size: 100%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    font-size: 1.125rem;
    font-family: 'Red Hat Display', sans-serif;
    min-height: 100vh;
    background-color: var(--pale-blue);
    background-image: url(../images/pattern-background-desktop.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .card {
        max-width: 24.5rem;
        height: fit-content;
        background-color: white;
        border-radius: 1rem;
        overflow: hidden;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 100%; height: 11rem;
            background-image: url(../images/illustration-hero.svg);
            background-position: center;
            background-size: cover;
        }

        .content {
            padding: 2.2rem 2.2rem 1.2rem;
            text-align: center;
            margin-top: 9.2rem;

            .title {
                color: var(--dark-blue);
                padding: 1rem 0;
                font-size: 1.65rem;
                font-weight: 900;
            }

            .description {
                color: var(--desatured-blue);
                padding-bottom: .95rem;
                font-size: 1rem;
                line-height: 1.65rem;
            }

            .info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: hsla(225, 100%, 94%, 0.35);
                padding: .95rem 0;
                border-radius: .5rem;
    
                .options {
                    display: flex;
                    align-items: center;
                    padding-left: 1.2rem;
                    gap: .8rem;

                    .details {
                        .plan {
                            font-size: .85rem;
                            font-weight: 900;
                            color: var(--dark-blue);
                            padding-bottom: .2rem;
                        }

                        .price {
                            color: var(--desatured-blue);
                            font-size: .85rem;
                        }
                    }
                }

                .btn-change {
                    font-size: .70rem;
                    padding-right: 1.2rem;
                    text-decoration: underline;
                    color: var(--bright-blue);
                    font-weight: 900;

                    &:hover {
                        color: hsla(245, 75%, 52%, .75);
                        text-decoration: none;
                    }
                }
            }

            .buttons {
                margin-top: 1.6rem;
                a {
                    display: block;
                }

                .btn-payment {
                    background: var(--bright-blue);
                    color: var(--very-pale-blue);
                    padding: .75rem 0;
                    margin-bottom: 1.2rem;
                    border-radius: .5rem;
                    font-size: .8rem;
                    font-weight: 700;

                    &:hover {
                        background: hsla(245, 75%, 52%, .75);
                    }
                }

                .btn-cancel {
                    color: var(--desatured-blue);
                    font-size: .8rem;
                    font-weight: 900;

                    &:hover {
                        color: var(--dark-blue);
                    }
                }
            }
        }

       
    }
}

footer {
    .attribution {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: .80rem;
        text-align: center;
        color: var(--desatured-blue);

        a {
            color: var(--dark-blue);

            &:hover {
                color: var(--bright-blue);
            }
        }
    }
}


// -------------------------------- media queries ---------------------------------------------

@media (max-width:39rem){
    footer .attribution {
        display: none;
    }
}

@media (max-width:30rem) {
    main .card {
        max-width: 20.5rem;

        .content {
            padding: 1.35rem;

            .buttons {
                .btn-payment {
                    padding: .90rem 0;
                    font-size: .9rem;
                }
                .btn-cancel {
                    padding-bottom: .5rem;
                }
            }
        }
    }
}
